body {
    font-family: 'Arial, sans-serif';
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d2946;
    color: #ffffff;
    width: 100%;
    padding: 20px 0;
}

header .logo {
    width: 30px; /* Dimensione del logo */
    margin-right: 10px; /* Spaziatura tra il logo e il titolo */
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 20px 0; /* Spaziatura tra il menu e il contenuto */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f0f0f0;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-top: 40px; /* Maggiore spaziatura tra le sezioni */
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 40px; /* Maggiore spaziatura tra il contenuto e il footer */
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
